
<html>
<head>
	<title>Autentificacion</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0, user-scalable=no'>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
	      <form class="form-signin" action="/login" method="post">
	        <h2 class="form-signin-heading">Iniciar Sesión</h2> 
	        <input type="text" id="inputUsuario" class="form-control" name="usuario" placeholder="Usuario" required="" autofocus="">
	        <p></p> 
	        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" required="">
	        <p></p>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	      </form>
	    </div>
    </div>
    </div>
</body>
</html>